<?xml version="1.0" encoding="utf-8"?>
<!-- generator="Podcast Generator 2.7" -->
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xml:lang="en" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ channel.title }}</title>
  <link>{{ channel.link }}</link>
  <description>{{ channel.description }}</description>
  <generator>na</generator>
  <lastBuildDate>{{ last_build_date }}</lastBuildDate>
  {# <language>{{ channel.language }}</language> #}
  {# <copyright>{{ channel.copyright }}</copyright> #}
  <language>en-US</language>
  <copyright>none</copyright>
  <itunes:image href="https://ipfs.io/ipfs/QmdhW3UzaAravidM1ZFKrKcVNNLjS9DFFMpaFGYb31mpLh" />
  <image>
  <url>https://ipfs.io/ipfs/QmdhW3UzaAravidM1ZFKrKcVNNLjS9DFFMpaFGYb31mpLh</url>
  <title>{{ channel.title }}</title>
  <link>{{ channel.link }}</link>
  </image>
  <itunes:summary>{{ channel.title }}</itunes:summary>
  <itunes:subtitle>{{ channel.title }}</itunes:subtitle>
  <itunes:author>Various</itunes:author>
  <itunes:owner>
  <itunes:name>Various</itunes:name>
  <itunes:email>test@nospam.com</itunes:email>
  </itunes:owner>
  <itunes:explicit>no</itunes:explicit>
  
  <itunes:category text="Arts"></itunes:category>
  
{% for episode in episodes %}
      <item>
      <title>{{ episode.title }}</title>
      <itunes:subtitle>Podcast Episode</itunes:subtitle>
      <itunes:summary><![CDATA[]]></itunes:summary>
      <description>Podcast Episode</description>
    <link>{{ episode.link }}</link>
    <guid isPermaLink="false">{{ episode.hash_md5 }}</guid>
      <enclosure
        url="{{ episode.link }}"
        length="{{ episode.enclosure.file_len }}"
        type="{{ episode.enclosure.file_type }}" />
      {# <!--<itunes:duration>45:00</itunes:duration>-->#}
      <author>test@nospam.com (None)</author>
      <itunes:author>{{ episode.author }}</itunes:author>
      <itunes:explicit>no</itunes:explicit>
      <pubDate>{{ episode.date }}</pubDate>
      </item>
{% endfor %}
</channel>
</rss>